.hot { color: brown }

/* H1, H2 { text-align: center } */
.agate { font-family: agate, times, serif }
.brush-dom { font-family: "brush dom regular", dom, helvetica, arial, sans-serif }
.casablancaantique { font-family: casablancaantique, serif; font-weight: bolder }
.comic-sans-ms { font-family: "comic sans ms", helvetica, arial, sans-serif }
.formal-script { font-family: serif, "formal script", kunstlerschreibschdmed, cursive}
.avantgarde, .avantgarde TD { font-family: avantgarde, "avant garde gothic", sans-serif }
.helvetica, .helvetica TD { font-family: helvetica, arial, sans-serif }
.helvetica-bold { font-family: helvetica, arial, sans-serif; font-weight: bold }
.ignacious { font-family: ignacious, "formalscrp421 bt", bodacious, cursive }
.impress { font-family: impress, helvetica, arial, sans-serif }
.larissa { font-family: larissa, cursive }
.seagull { font-family: seagull, serif }
DIV.box-double-med { border: double medium #000; width: 100%; padding: 0.5em }
DIV.box-double { border: double thin #000; width: 100%; padding: 0.5em }
DIV.box-single { border: solid medium #000; width: 100%; padding: 0.5em }
div.grey { color: #888; }
P.hanging-indent { margin-left: 1.5em; text-indent: -1.5em }
P.indent { text-indent: 3em }
A.menubar { font-family: helvetica, arial, sans-serif; text-decoration: none }
A:hover.menubar { text-decoration: underline }
.mnb A { text-decoration: none }
.mnb A:hover { text-decoration: underline }
.mnb TD { font-family: helvetica, arial, sans-serif }
.snb A { text-decoration: none }
.snb A:hover { text-decoration: underline }
.snb TH { font-family: helvetica, arial, sans-serif; border-right: 1px solid #fff }

/* P,UL,OL { text-align: justify } */
